* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
header {
    height: 10hv;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.LogoHeader {

}
header nav button {
    padding: 5px;
    border-radius: 15px;
    border-color: #2D4FD8;
    background-color: none;

}
.ButtonHeader {
    padding: 5px;
    border-radius: 6px;
    border-color: #2D4FD8;
    background-color: #2b4ac4;
    color: #fff;
}
.WebText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.DivForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}